* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}


h1{
  margin-bottom: 30px;
}

button{
  background-color: yellow;
  border-radius: 5px;
  padding: 10px 20px;
}